#Sua chave para acessar a API via header 'api-key'
API_KEY=

#Porta onde o servidor web irá rodar
WEB_SERVER_PORT=

#Endereço do servidor Redis
REDIS_ADDRESS=
#Senha do servidor Redis
REDIS_PASSWORD=

#Limite máximo de requisições por IP no intervalo de tempo definido
MAX_REQUESTS_PER_IP=
#Limite máximo de requisições por API Key no intervalo de tempo definido
MAX_REQUESTS_PER_API_KEY=

#Intervalo de tempo em minutos para contagem das requisições
TIME_INTERVAL_MINUTES=
#Duração em minutos do bloqueio após ultrapassar o limite de requisições
BLOCK_DURATION_MINUTES=